/* Membagi baris menjadi 5 kolom sama besar */
.card-wrapper {
    width: 20%;
    padding: 0.5rem;
    /* jarak antar card */
}

/* kalau layar lebih kecil dari 992px, biar 2 per baris */
@media (max-width: 992px) {
    .card-wrapper {
        width: 50%;
    }
}

/* kalau layar lebih kecil dari 576px, biar 1 per baris */
@media (max-width: 576px) {
    .card-wrapper {
        width: 100%;
    }
}
